<ng-container *ngIf="mainCategories$">
  <div class="row">
    <div class="col-sm-11">
      <select #category id="categorySelect" (change)="onMainCategoryChange(category.options[category.selectedIndex].text)">
        <option>Select category</option>
        <option *ngFor="let category of mainCategories$ | async">
          {{category.name}}
        </option>
      </select>

      <select *ngIf="showSubCategories" #subCategory id="subCategorySelect" (change)="onSubCategoryChange(subCategory.value)">
        <option>Select subcategory</option>
        <option [value]="subCategoryItem.id" *ngFor="let subCategoryItem of subCategories$ | async">
          {{subCategoryItem.name.split(':')[1]}}
        </option>
      </select>

      <select #difficulty id="difficultySelect">
        <option>Select difficulty</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
      <button class="primary" id="createBtn" (click)="createQuiz(difficulty.value)">Create</button>
    </div>
  </div>
  <div class="row">
    <app-quiz *ngIf="questions$" [questions]="questions$ | async" ></app-quiz>
  </div>

</ng-container>
