<ng-container *ngIf="categories$">
  <div class="row">
    <div class="col-sm-2">
      <ng-container *ngIf="mainCategories$ | async as mainCategories">
        <app-auto-filter-dropdown
          [options]="getCategoriesAsDropdownElement(mainCategories)"
          (selectionChange)="onMainCategoryChange($event)"
        [placeholder]="'Select maincategory...'" >
        </app-auto-filter-dropdown>
      </ng-container>
    </div>

      <ng-container  *ngIf="showSubCategories"  >
          <div  *ngIf="(subCategories$ | async) as subCategories" class="col-sm-2">
              <app-auto-filter-dropdown
                      [options]="getCategoriesAsDropdownElement(subCategories)"
                      [labelModifierFn]="labelModifierFn"
                      (selectionChange)="onSubCategoryChange($event)"
                      [placeholder]="'Select subcategory...'" >
              </app-auto-filter-dropdown>
          </div>
      </ng-container>

    <div class="col-sm-2">
        <app-auto-filter-dropdown
        [options]="difficultyOptions"
        (selectionChange)="onDifficultyChange($event)"
        [placeholder]="'Select difficulty...'" >>
        </app-auto-filter-dropdown>
    </div>

      <div class="col-sm-2">
          <button class="primary" id="createBtn" (click)="createQuiz()">Create</button>
      </div>
  </div>

  <div class="row">
    <app-quiz *ngIf="questions$" [questions]="questions$ | async" ></app-quiz>
  </div>
</ng-container>
